<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> Terms & Conditions </h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>In Bootstrap, "pb" is an abbreviation for "padding-bottom". It is one of the many shorthand classes used
                to apply CSS properties quickly and easily in a web page.

                The padding property is used to create space around an element's content, and padding-bottom sets the
                amount of space between the bottom of the element's content and its bottom border.

                In Bootstrap, you can use the "pb-" class to add padding to the bottom of an element. For example, the
                class "pb-2" will add a padding of 2 units to the bottom of the element.

            </p>
            <p>In Bootstrap, "pb" is an abbreviation for "padding-bottom". It is one of the many shorthand classes used
                to apply CSS properties quickly and easily in a web page.

                The padding property is used to create space around an element's content, and padding-bottom sets the
                amount of space between the bottom of the element's content and its bottom border.

                In Bootstrap, you can use the "pb-" class to add padding to the bottom of an element. For example, the
                class "pb-2" will add a padding of 2 units to the bottom of the element.

            </p>
            <p>In Bootstrap, "pb" is an abbreviation for "padding-bottom". It is one of the many shorthand classes used
                to apply CSS properties quickly and easily in a web page.

                The padding property is used to create space around an element's content, and padding-bottom sets the
                amount of space between the bottom of the element's content and its bottom border.

                In Bootstrap, you can use the "pb-" class to add padding to the bottom of an element. For example, the
                class "pb-2" will add a padding of 2 units to the bottom of the element.

            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
            </div>

        </div>
    </div>
</section>