<div class="container">
    <div class="row">
         <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/11773471/pexels-photo-11773471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - MARCH 01, 2023 </small>

                    <h1 class="mt-2 mb-3"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY  </h1>
                    <p>In Bootstrap, "md" stands for "medium". It is part of Bootstrap's responsive grid system, which allows developers to define layout and sizing rules for different screen sizes or viewport widths.

                        The Bootstrap grid system is based on a 12-column layout, and different classes can be used to define how many columns an element should take up on different screen sizes. For example, "col-md-5" sets an element to take up 5 columns out of 12 on medium-sized screens, while "col-lg-6" sets an element to take up 6 columns out of 12 on large-sized screens.
                        
                        Bootstrap defines several breakpoints for screen sizes, and the "md" breakpoint corresponds to a viewport width of at least 768 pixels. This means that the "col-md-5" class will apply to screens that are at least 768 pixels wide, but not wider than the "lg" breakpoint (992 pixels).</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
         </div>
         <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
         </div>
    </div>
</div>