
<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/11773465/pexels-photo-11773465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

        <h5 class="mt-1"> Dummy title </h5>
        <p>Ceci est une petit texte pour tester.</p>
        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - SEP 20, 2020</small>
    </div>

</div> 